<form [formGroup]="contaForm" class="form mt-4" (submit)="cadastrar()">
    <div>
        <div class="form-group">
            <label for="descrição">Descrição</label>
            <textarea formControlName="descricao" class="form-control" id="descricao" rows="3"></textarea>
            <small *ngIf="contaForm.get('descricao').errors?.required" class="text-danger d-block mt-2">
                Descrição é Obrigatório!
            </small>
        </div>
        <div class="form-group">
            <label for=vencimento>Vencimento</label>
            <input formControlName="vencimento" type="date" class="form-control" id="vencimento" placeholder="">
            <small *ngIf="contaForm.get('vencimento').errors?.required" class="text-danger d-block mt-2">
                Vencimento é Obrigatório!
            </small>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <select formControlName="tipo" class="form-control" id="tipo">
                <option>RECEITA</option>
                <option>DESPESA</option>
            </select>
            <small *ngIf="contaForm.get('tipo').errors?.required" class="text-danger d-block mt-2">
                Tipo é Obrigatório!
            </small>
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input formControlName="valor" type="number" class="form-control" id="valor" placeholder="">
            <small *ngIf="contaForm.get('valor').errors?.required" class="text-danger d-block mt-2">
                Valor é Obrigatório!
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" [routerLink]="['']">Cancelar</button>
        <button type="submit" class="btn btn-success" [disabled]="contaForm.invalid" style="float: right">Cadastrar</button>
    </div>
</form>