<div class="col-md-7" style="text-align: center;">
    <div style="max-height:550px; overflow-y:auto;">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lista of lista">
                    <th scope="row">{{ lista.id }}</th>
                    <td>{{ lista.descricao }}</td>
                    <td>{{ lista.vencimento }}</td>
                    <td>{{ lista.valor }}</td>
                    <td><button (click)='deleteConta(id)' class="btn btn-danger">Remover</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>