<div class="card">
    <div class="card-header">
        <div class="float-left">
            <a class="navbar-brand" href="#">
                <img [src]="urlImg" width="40" height="30" class="d-inline-block align-top" alt="">
                ControleFinanceiro
            </a>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo
                Registro</button>
        </div>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>